version: "3.8"
services:
  db:
    container_name: db
    image: postgres:14.5
    command: postgres -c 'max_connections=1000'
    expose:
      - 5555
    ports:
      - "5555:5432"
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data:
